*{
    padding: 0;
    margin:  0;
}
section{
    border-color: aquamarine;
    border-radius: 48px;
    border-style: solid;
    padding: 20px;
    width: 100%;
}
div{
    height: 150px;
    margin: 5px;
    width: 150px;
}
.esquerda{
    background-color: palevioletred;
    float: left;
}
.direita{
    background-color: aqua;
    float: right;
}
