.header{
    border: 1px solid black;
    height: 100px;
}
.nav{
    border: 1px solid black;
    height: 20px;
}
.main{
    border: 1px solid black;
    height: 600px;
    max-width: 800px;
    margin: auto;
}
.footer{
    border: 1px solid black;
    height: 20px;

}
.article{
    border: 1px solid;
    margin: 10px 25px 50px 25px;
    height: 560px;
}
.aside{
    border: 1px solid;
    margin: 350px 30px 30px 30px;
    height: 90px;
}